body 
  { color: #fff; background: #ff0d61;
    font-family: sans-serif;
    margin: 0 0; 
    width: 100%;
    padding: 0; }
#marley_says
  { padding: 0; margin: 0;
    position: absolute;
    bottom: 0px; left: 0; 
    width: 400px; height: 420px;
    background: url('/images/marley.bubble.png') 0 0 no-repeat; }
#marley_says h1
  { color: #ff0d61;
    font: bold 350%/120% 'Helvetica', 'Arial Black', sans-serif !important;
    position: absolute; bottom: 105px; left: 185px; }
.container h2
  { color: #fff3f7;
    font: bold 160%/120% 'Helvetica', 'Arial Black', sans-serif !important;
    text-align: center; 
    margin: 2em 4em 2em 4em; }
.container h2 a
  { color: #fff; }