body { line-height:1.5; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; color:#000; background:#fff; font-size:10px; }
a img { border: none !important; }
button, button span { color: #222; }