/* Layout */
body
  { padding-left: 17%; }

#page
  { min-height: 100%; position: relative; }

.container
  { min-width: 600px; 
  	/*max-width: 80em; */
  	width: 100%;
  	margin: 0 auto;
  	padding: 0 0 2em 0;
  	position: relative; }

.container #left
  { width: 53em; }

.container #right
  { width: 20em;
    position: absolute;
    right: 0; }

/*.container #left,
.container #right
  { border: 1px dotted blue; }
*/
#header blockquote
  { width: 20%; }

#footer
  { padding: 0.2em 0 0 0;
    margin: 4em 0 0 0; }