@import 'comment_form.css';
.clear { clear: both; float: none; font-size: 7px; }
body { font-family: sans-serif; font-size: 90%; margin: 0; padding: 1.5em 4em 2em 4em; }
h1   { color: #444; border-bottom: 4px solid #444; padding: 0em 1em 0.4em 0em; }
pre  { color: #444; font-size: 110%; white-space: pre-wrap; white-space: -moz-pre-wrap !important; padding: 1em; border: 4px solid #fafafa;}
a    { color: #104EFF; }
ul   { margin: 0; padding: 0; }
li   { list-style-type: none; margin-bottom: 1em; }
li span.perex  { font-size: 95%; color: #444; }
#article .body { border-bottom: 1px solid #ccc; }
.comment       { margin: 1em 0 1em 0; border-bottom: 1px solid #fafafa; }
#comment_added_thanks { background: #bcfa96; padding: 0.2em 0.2em 0.2em 0.5em; }
