/* Reset Blueprint */
a { color: #000; }
a:link:after, a:visited:after {content: '';}
a:link.external:after {content:" (" attr(href) ") ";font-size:90%;}

/* Common */
.noprint { display: none !important; }
.cl, .clear, .cleaner { clear: both; font-size: 0px; height: 0; line-height: 0; }

/* Hide */  
form,
button,
a.button,
hr
 { display:none; }
  
/* Typography */
body
  { color: #000;
    background: #fff;
    font-size: 85%; 
    font-family: Helvetica, sans-serif; }

button,
button *
  { color: #222 !important; }

a img
  { border: none; }
  
  