.javascript .comment, .ruby .comment, .css .comment {
/*  color: #B35EED;*/
  color: #848785;
  font-size: 90%;
	font-style: italic;
/*  background-color: rgba(0, 0, 0, 0.03);*/
  background-color: #f0f5f1;
}

.javascript .string, .ruby .string {
	color: #72b80d;
}

.javascript .keywords, .ruby .keywords {
	color: #308095;
	font-weight: bold;
	padding: 0.1em;
}

.ruby .commands {
  color: #f73355
}

.javascript .object, .ruby .object {
	color: #1C7A1F;
	background-color: #f2f6f2;
}

.ruby .rails {
	color: #d42755;
}


.javascript .global {
	color: #1C7A1F;
	font-weight: bold;
}

.javascript .brackets, .ruby .brackets {

}

.css .properties {
	color: #999966;
}

.css .selectors {
	color: #FF6600;
	font-weight : bold;
}

.css .units {
	color: #333;
}

.css .urls {
	color: #333;
}

.html .tag {
	color: #39A0BA;
	background-color: rgba(57, 160, 186, 0.10);
}

.html .comment {
	color : gray;
	font-style: italic;
}

.html .string {
	background-color: #FFFFFF;
}

.html .doctype {
	color: #69B200;
}