/* Some defaults, reset Blueprint styling */

.cl, .clear, .cleaner { clear: both; font-size: 0px; height: 0; line-height: 0; }

.noscreen, .nodisplay { display: none; }

hr { display: none; }

/*html, body { height: 100%; }*/

body { margin: 0; padding: 0; }

.container { height: 90%;  }

body h1, body h2, body h3 { margin-bottom: 0.4em; }
body h1 { margin: 0; padding: 0; }
body h2 { font-size: 130%;}
body h3 { font-size: 120%; }
  
p, ul { margin: 0; margin-bottom: 0.2em; }

p.small { line-height: 125%; }

p.inline { margin-bottom: 0; display: inline; }

a img, a:hover img { text-decoration: none !important; border: none !important; }

address { font-style: normal; }

em { background: transparent; }

label { font-weight: normal; }
  
div#display
  { margin: 0 !important; padding: 0 !important; }  

.notice,
.error,
.notice *,
.error *
  { color: inherit;
    background: none;
    border: none; 
    padding: 0;
    margin: 0; }
    
code { font-size: 130%; }