body
  { line-height: 145%; }

.container h1, 
.container h2,
.container h3,
.container h4
  { font-weight: bold; }

#article .body
  { font-size: 95%; }

#comment_form textarea
  { width: 40em; }
#comment_form .submit
  { margin-left: 36em; }
